@media only screen and (orientation: portrait){
	.office{
		/* rotate:90deg; */
	}
}
:root {
	  --paint: drop-shadow(2px 2px 4px black);
	}
	
body {
	margin: 0;
	overflow: hidden;
	background-color: black;
	display: flex;
	filter:brightness(0);
	animation-name:lighton;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
	user-select:none;
}
.office{
	background-image: url(./images/background.png);
	background-repeat: no-repeat;
	background-size: 100vw;
	background-color: black;
	background-position: bottom left;
	width: 100%;
	overflow: hidden;
	aspect-ratio: 16/9;
	background-attachment: fixed;
}

#tv {
    background-image: url(./images/tv.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: calc((100vw/3840)*305);
    width: calc((100vw/3840)*479);
    bottom: 24.71355vw;
    left: 33.047vw;
}
#pinboard {
    background-image: url(./images/corkboard.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: calc((100vw/3840)*727);
    height: calc((100vw/3840)*481);
    bottom: 28.724vw;
    left: 63.724vw;
}
#drawers {
    background-image: url(./images/drawers.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: calc((100vw/3840)*826);
    height: calc((100vw/3840)*630);
    bottom: 13.28125vw;
    left: 72.526vw;
}
#credits {
    background-image: url(./images/credits.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: calc((100vw/3840)*593);
    height: calc((100vw/3840)*213);
    bottom: 7.29166vw;
    left: 35.3385vw;
}
#songs {
    background-image: url(./images/radio.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: calc((100vw/5860)*779);
    height: calc((100vw/5860)*685);
    bottom: 5.59166vw;
    left: 56.7385vw;
    filter: brightness(0.6);
}
#paint {
    background-image: url(./images/paint.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: calc((100vw/1920)*116);
    height: calc((100vw/1920)*128);
    bottom: 1vw;
    left: 1vw;
    filter: opacity(0);
	animation-delay:20s;
    animation-name: fadein;
    animation-duration: 40s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}


.navbutton {
    position: absolute;
    filter: var(--paint);
}
.navbutton:hover {
    filter: brightness(1.20);
	transform: scale(1.05);
}
@keyframes lighton{
	0% {filter:brightness(0);}
	100% {filter:brightness(1);}
}
@keyframes fadein{
	0% {filter:opacity(0);}
	100% {filter:opacity(1);}
}
#audioPlayer {
    width: 0;
    height: 0;
}